:root {
    --background-grey: #E5E5E5;
    --highlight-color: #CF4031;
    --highlight-good-color: #2CBB85;
    --highlight-inactive-color: #808183;
    --inactive-grey: #D1D1D3;
    --focused-grey: #808183;
    --highlighted-link-blue: #0036F7;
    --header-grey: #F8F8F8;
    --border-grey: #F1F2F5;
    --file-name-color: #2CBB85;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-grey);
}

.container {
    padding: 0;
}

.row {
    margin: 0;
    width: 100%;
}

.row .column {
    padding: 0;
}

.wrapper {
    margin: 8.5rem auto auto;
}

.text--underline {
    text-decoration: underline;
}

a {
    color: inherit;
}

a:hover, a:focus, a:active {
    color: inherit;
}
