/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.errors__container {
    background-color: #FFF;
    padding: 32px;
    border-radius: 0 5px 5px 5px;
}

.errors-tabs {
    display: flex;
}

ul.errors-tabs {
    list-style-type: none;
    margin-bottom: 0;
}

.errors-tab {
    border-radius: 5px 5px 0 0;
    margin-right: 1rem;
    background-color: var(--inactive-grey);
}

li.errors-tab {
    margin-bottom: 0;
}

.errors-tab--active, li.errors-tab a[aria-selected="true"] .errors-tab__content {
    background-color: #FFF;
    color: var(--highlight-color);
}

.errors-tab__resolved.errors-tab--active {
    color: var(--highlight-good-color);
}

.errors-tab__content {
    padding: 1rem;
    display: flex;
}

.errors-tab__badge {
    background: var(--highlight-inactive-color);
    border-radius: 5px;
    color: #FFF;
    padding: 4px 8px;
}

.errors-tab--active .errors-tab__badge {
    background-color: var(--highlight-color);
}

.errors-tab__resolved.errors-tab--active .errors-tab__badge {
    background-color: var(--highlight-good-color);
}

.errors-tab__description {
    margin-left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.purge-button {
    background-color: var(--highlight-color);
    border: none;
}

.button.purge-button:hover, .button.purge-button:focus {
    background: var(--focused-grey);
}

.errors-date-group {
    background-color: var(--header-grey);
    padding: 0.5rem 1rem;
}

.errors-date-group ~ .errors-date-group {
    border-bottom: 1px solid var(--border-grey);
}

.row.error-row {
    padding: 1rem;
}

.error-row:not(.error-row--header) {
    border: 1px solid var(--border-grey);
}

.error-message, .error-message:hover, .error-message:focus, .error-message:active {
    color: var(--highlighted-link-blue);
}

.error-row.error-row--header {
    background-color: var(--header-grey);
    font-weight: 500;
    color: #000;
}

.error-cell__message {
    overflow-x: hidden;
}

.error-cell__tags {
  font-weight: 500;
  font-size: 12px;
  color: #000;
  padding-bottom: 3px;
}

.error-cell__tags .error-tag {
  background-color: var(--tag-color);
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

.error-title {
    color: var(--highlighted-link-blue);
    padding-left: 2rem;
}

.error-occurrence__header {
    background: #FFF;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.button_to .button.button-outlined.resolve-button {
    color: var(--highlight-good-color);
    border-color: var(--highlight-good-color);
    font-size: 10px;
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
}

.button_to .button.resolve-button {
    color: #FFF;
    background-color: var(--highlight-good-color);
    border-color: var(--highlight-good-color);
    font-size: 10px;
    padding: 0 1rem;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 0;
}

.button.resolve-button:hover, .button.resolve-button:focus {
    color: var(--focused-grey);
    border-color: var(--focused-grey);
}

.error-occurred_at {
    color: var(--highlight-color);
    font-size: 14px;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.error-occurrences__nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.button.button-outline.error-occurrences__nav-link {
    margin-bottom: 0;
    padding: 0 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-right: 0.5rem;
    border-color: #000;
    color: #000;
}

.button.button-outline.error-occurrences__nav-link[disabled="disabled"],
.button.button-outline.error-occurrences__nav-link[disabled="disabled"]:focus,
.button.button-outline.error-occurrences__nav-link[disabled="disabled"]:hover {
    border-color: var(--highlight-inactive-color);
    color: var(--highlight-inactive-color);
}

.error-occurrences__nav-current {
    margin: 0 2rem;
}

.tab-content {
    padding: 1em 0.5em;
}

.data-title {
    font-weight: bold;
    color: var(--highlight-color);
}

.tracked-data {
    border-left-color: var(--highlight-color);
}

.backtrace {
    padding-top: 1em;
    padding-bottom: 1em;
    overflow-x: scroll;
}

.backtrace-line {
    white-space: nowrap;
    margin-top: .3em;
    margin-bottom: .3em;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

.backtrace-line__line-number {
    margin-right: 5px;
    color: var(--highlight-color);
}

.backtrace-line__file-name {
    color: var(--file-name-color);
}
