.nav {
    background: #000;
    display: block;
    height: 4.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.container__nav {
    display: flex;
    height: 100%;
}

.nav__title {
    line-height: 4.2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFF;
}

.footer {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 1rem;
}
