<% if error.environment_data.empty? %>
  <div class="row error-row data-title">
    Unfortunately, no environment information has been registered for this error.
  </div>
<% else %>
  <div class="row error-row data-title">
    Environment Data
  </div>
  <pre class="tracked-data">

<%= format_tracked_data(error.environment_data) %>
  </pre>
<% end %>

<% unless error.tracked_params.nil? %>
  <div class="row error-row data-title">
    Tracked Params
  </div>
  <pre class="tracked-data">

<%= format_tracked_data(error.tracked_params) %>
  </pre>
<% end %>

<% if error.custom_data.nil? %>
  <div class="row error-row data-title">
    No custom data included.
  </div>
<% else %>
  <div class="row error-row data-title">
    Custom Data
  </div>
  <pre class="tracked-data">

<%= format_tracked_data(error.custom_data) %>
  </pre>
<% end %>
