<% if error.user_data.empty? %>
  <div class="data-title">
    Unfortunately, no user information has been registered for this error.
  </div>
<% else %>
  <pre class="tracked-data">
<%= format_tracked_data(error.user_data) %>
  </pre>
<% end %>
