<% today_errors = errors.select { |error| error.show_for_day?(Date.current) } %>
<%= render partial: 'exception_hunter/errors/error_row', collection: today_errors, as: :error %>

<% (1..6).each do |i| %>
  <% errors_on_day = errors.select { |error| error.show_for_day?(i.days.ago) } %>
  <div class="errors-date-group"><%= ExceptionHunter::ErrorGroupPresenter.format_occurrence_day(i.days.ago) %></div>
  <%= render partial: 'exception_hunter/errors/error_row', collection: errors_on_day, as: :error %>
<% end %>
